<html>
  <body>
    <h1>Booking Confirmation</h1>
    <p>Dear <%= firstName %>,</p>
    <p>Your booking has been confirmed!</p>
    <ul>
      <li><strong>Vehicle:</strong> <%= vehicle %></li>
      <li><strong>Start Date:</strong> <%= startDate %></li>
      <li><strong>End Date:</strong> <%= endDate %></li>
    </ul>
    <p>Thank you for choosing Car Rental. We look forward to serving you!</p>
    <p>Best regards,<br/>Car Rental Team</p>
  </body>
</html> 