<html>
  <body>
    <h1>Welcome to Car Rental, <%= firstName %>!</h1>
    <p>Thank you for registering with us. We hope you enjoy your experience!</p>
    <p>If you have any questions, feel free to reply to this email.</p>
    <p>Best regards,<br/>Car Rental Team</p>
  </body>
</html> 